<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BadURLDefinitionAFLCrash</key>
	<string>LINK: top posts NOT LINK{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>BasicHeaders</key>
	<string>H1{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec16870&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 34.00pt";
}
Plain
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}H3{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec19fe0&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 19.89pt";
}</string>
	<key>BlockCode</key>
	<string>Not code
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}block of
code 
right &lt;&lt;
here
{
    NSBackgroundColor = "UIExtendedSRGBColorSpace 0.94902 0.94902 0.94902 1";
    NSColor = "UIExtendedSRGBColorSpace 1 0 1 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded121e0&gt; font-family: \"Courier New\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>Blockquote</key>
	<string>Level0
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}Level1
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 20, TailIndent -20, FirstLineHeadIndent 20, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level2
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 40, TailIndent -40, FirstLineHeadIndent 40, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level3
Level3
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 60, TailIndent -60, FirstLineHeadIndent 60, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level4
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 80, TailIndent -80, FirstLineHeadIndent 80, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level 3
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 60, TailIndent -60, FirstLineHeadIndent 60, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level 2
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 40, TailIndent -40, FirstLineHeadIndent 40, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level 1
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 20, TailIndent -20, FirstLineHeadIndent 20, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Level 0
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>BrokenManyByteEmojiFormatter</key>
	<string>Plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold, emoji: 🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺 still should be bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13190&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 17.00pt";
}NOTBOLD{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>ClosingTagBeforeOpening</key>
	<string>Closing before opening{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>FormattingOnHeaders</key>
	<string>Plain H2{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec15940&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 25.50pt";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}H2 with italics{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec16030&gt; font-family: \"Avenir-BookOblique\"; font-weight: normal; font-style: italic; font-size: 25.50pt";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}H2 with bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec161e0&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 25.50pt";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}H2 with bold italics{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec16390&gt; font-family: \"Avenir-HeavyOblique\"; font-weight: bold; font-style: italic; font-size: 25.50pt";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}H2 with link{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec15940&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 25.50pt";
    NSLink = "http://reddit.com";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}H2 with {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec15940&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 25.50pt";
}code{
    NSBackgroundColor = "UIExtendedSRGBColorSpace 0.94902 0.94902 0.94902 1";
    NSColor = "UIExtendedSRGBColorSpace 1 0 1 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded121e0&gt; font-family: \"Courier New\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}h2 in quote{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec15940&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 25.50pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 20, TailIndent -20, FirstLineHeadIndent 20, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedSRGBColorSpace 0.466667 0.466667 0.466667 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSParagraphStyle = "Alignment 4, LineSpacing 0, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 20, TailIndent -20, FirstLineHeadIndent 20, LineHeight 0/0, LineHeightMultiple 0, LineBreakMode 0, Tabs (\n    28L,\n    56L,\n    84L,\n    112L,\n    140L,\n    168L,\n    196L,\n    224L,\n    252L,\n    280L,\n    308L,\n    336L\n), DefaultTabInterval 0, Blocks (\n), Lists (\n), BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0";
}Struck H2{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4dec15940&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 25.50pt";
    NSStrikethrough = 1;
}
{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>FourByteEmojiFormatter</key>
	<string>Plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold, emoji: 🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎🙎 still should be bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13190&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 17.00pt";
}NOTBOLD{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>HTMLEntityDecode</key>
	<string>Open tag	&lt;	&lt;	
Double quote	"	"	”
Apostrophe / single quote	'	'	’
Colon	:	 	:
Semicolon	;	 	;
Grave accent	`	 	`
Forward slash	/	 	/
Backslash	\	 	\
Exclamation mark	!	 	!
Question mark	?	 	?
Octothorp / hashtag / pound	#	 	#
Asterisk (star)	*	 	*
Percentage	%	 	%
Ampersand	&amp;	&amp;	(	 	(
Close parenthesis	)	 	)
Hyphen / dash / minus	-	 	-
Comma	,	 	,
Period	.	 	.
At sign	@	 	@
Caret symbol	^	 	^
Open square bracket	[	 	[
Close square bracket	]	 	]
Open curly bracket	{	 	{
Close curly bracket	}	 	}
Tilde	~	 	~
Underscore	_	 	_
Space	 	 	
Space (non-breaking)	 	 	 
Vertical bar	|	 	|
Broken bar	¦	¦	¦
Upside down exclamation mark	¡	¡	¡
Upside down question mark	¿	¿	¿
Section symbol	§	§	§
Umlaut	¨	¨	¨
Feminine ordinal indicator	ª	ª	ª
Masculine ordinal indicator	º	º	º
Open double angles	«	«	«
Close double angles	»	»	»
Not sign	¬	¬	¬
Soft hyphen	­	­	
Overline	¯	¯	¯
Acute accent	´	´	´
Pilcrow (paragraph)	¶	¶	¶
Georgian comma	·	·	·
Cedilla	¸	¸	¸
Math symbols
description	number	name	symbol
Plus sign (addition)	+	 	+
Minus sign (subtraction)	−	−	−
Multiplication sign	×	×	×
Division sign	÷	÷	÷
Plus / minus	±	±	±
Equals sign	=	 	=
Less or equal	≤	≤	≤
Greater or equal	≥	≥	≥
Superscript 1	¹	¹	¹
Superscript 2	²	²	²
Superscript 3	³	³	³
1/4	¼	¼	¼
1/2	½	½	½
3/4	¾	¾	¾
For all	∀	∀	∀
Part	∂	∂	∂
Exist	∃	∃	∃
Empty	∅	∅	∅
Nabla	∇	∇	∇
Is in	∈	∈	∈
Not in	∉	∉	∉
Ni	∋	∋	∋
Product	∏	∏	∏
Sum	∑	∑	∑
Asterisk (Lowast)	∗	∗	∗
Square root	√	√	√
Proportional to	∝	∝	∝
Infinity	∞	∞	∞
Angle	∠	∠	∠
And	∧	∧	∧
Or	∨	∨	∨
Cap	∩	∩	∩
Cup	∪	∪	∪
Integral	∫	∫	∫
Therefore	∴	∴	∴
Similar to	∼	∼	∼
Congurent to	≅	≅	≅
Almost equal	≈	≈	≈
Not equal	≠	≠	≠
Equivalent	≡	≡	≡
Subset of	⊂	⊂	⊂
Superset of	⊃	⊃	⊃
Not subset of	⊄	⊄	⊄
Subset or equal	⊆	⊆	⊆
Superset or equal	⊇	⊇	⊇
Circled plus	⊕	⊕	⊕
Circled times	⊗	⊗	⊗
Unit of measure symbols
description	number	name	symbol
Degrees	°	°	°
Micro	µ	µ	µ
Copyright, registered, trademark
description	number	name	symbol
Copyright	©	©	©
Registered trademark	®	®	®
Trademark	™	™	™
Currency symbols
description	number	name	symbol
Currency sign	¤	¤	¤
Dollar sign	$	 	$
Cents	¢	¢	¢
British pounds	£	£	£
Euro	€	€	€
Yen	¥	¥	¥
Greek alphabet
description	number	name	symbol
UPPERCASE ALPHA	Α	Α	Α
lowercase alpha	α	α	α
UPPERCASE BETA	Β	Β	Β
lowercase beta	β	β	β
UPPERCASE GAMMA	Γ	Γ	Γ
lowercase gamma	γ	γ	γ
UPPERCASE DELTA	Δ	Δ	Δ
lowercase delta	δ	δ	δ
UPPERCASE EPSILON	Ε	Ε	Ε
lowercase epsilon	ε	ε	ε
UPPERCASE ZETA	Ζ	Ζ	Ζ
lowercase zeta	ζ	ζ	ζ
UPPERCASE ETA	Η	Η	Η
lowercase eta	η	η	η
UPPERCASE THETA	Θ	Θ	Θ
lowercase theta	θ	θ	θ
alternate lowercase theta	ϑ	ϑ	ϑ
UPPERCASE IOTA	Ι	Ι	Ι
lowercase iota	ι	ι	ι
UPPERCASE KAPPA	Κ	Κ	Κ
lowercase kappa	κ	κ	κ
UPPERCASE LAMBDA	Λ	Λ	Λ
lowercase lambda	λ	λ	λ
UPPERCASE MU	Μ	Μ	Μ
lowercase mu	μ	μ	μ
UPPERCASE NU	Ν	Ν	Ν
lowercase nu	ν	ν	ν
UPPERCASE XI	Ξ	Ξ	Ξ
lowercase xi	ξ	ξ	ξ
UPPERCASE OMICRON	Ο	Ο	Ο
lowercase omicron	ο	ο	ο
UPPERCASE PI	Π	Π	Π
lowercase pi	π	π	π
alternative lowercase pi	ϖ	ϖ	ϖ
UPPERCASE RHO	Ρ	Ρ	Ρ
lowercase rho	ρ	ρ	ρ
UPPERCASE SIGMA	Σ	Σ	Σ
lowercase sigma	σ	σ	σ
final form lowercase sigma	ς	ς	ς
UPPERCASE TAU	Τ	Τ	Τ
lowercase tau	τ	τ	τ
UPPERCASE UPSILON	Υ	Υ	Υ
lowercase upsilon	υ	υ	υ
alternative lowercase upsilon	ϒ	ϒ	ϒ
UPPERCASE PHI	Φ	Φ	Φ
lowercase phi	φ	φ	φ
UPPERCASE CHI	Χ	Χ	Χ
lowercase chi	χ	χ	χ
UPPERCASE PSI	Ψ	Ψ	Ψ
lowercase psi	ψ	ψ	ψ
UPPERCASE OMEGA	Ω	Ω	Ω
lowercase omega	ω	ω	ω
Arrows
description	number	name	symbol
Left arrow	←	←	←
Up arrow	↑	↑	↑
Right arrow	→	→	→
Down arrow	↓	↓	↓
Left ↔	↔	↔
Carriage return arrow	↵	↵	↵
Spade, club, heart, diamond
description	number	name	symbol
Spade	♠	♠	♠
Club	♣	♣	♣
Heart	♥	♥	♥
Diamond	♦	♦	♦
Accented letters
description	number	name	symbol
CAPITAL A GRAVE ACCENT	À	À	À
lowercase a grave accent	à	à	à
CAPITAL A ACUTE ACCENT	Á	Á	Á
lowercase a acute accent	á	á	á
CAPITAL A CIRCUMFLEX ACCENT	Â	Â	Â
lowercase a circumflex accent	â	â	â
CAPITAL A TILDE ACCENT	Ã	Ã	Ã
lowercase a tilde accent	ã	ã	ã
CAPITAL A UMLAUT ACCENT	Ä	Ä	Ä
lowercase a umlaut accent	ä	ä	ä
CAPITAL A RING ABOVE ACCENT	Å	Å	Å
lowercase a ring accent	å	å	å
CAPITAL AE	Æ	Æ	Æ
lowercase ae	æ	æ	æ
CAPITAL C CEDILLA ACCENT	Ç	Ç	Ç
lowercase c cedilla accent	ç	ç	ç
CAPITAL E GRAVE ACCENT	È	È	È
lowercase e grave accent	è	è	è
CAPITAL E ACUTE ACCENT	É	É	É
lowercase e acute accent	é	é	é
CAPITAL E CIRCUMFLEX ACCENT	Ê	Ê	Ê
lowercase e circumflex accent	ê	ê	ê
lowercase e circumflex accent	ê	ê	ê
CAPITAL E UMLAUT ACCENT	Ë	Ë	Ë
lowercase e umlaut accent	ë	ë	ë
CAPITAL I GRAVE ACCENT	Ì	Ì	Ì
lowercase i grave accent	ì	ì	ì
CAPITAL I ACUTE ACCENT	Í	Í	Í
lowercase i acute accent	í	í	í
CAPITAL I CIRCUMFLEX ACCENT	Î	Î	Î
lowercase i circumflex accent	î	î	î
CAPITAL I UMLAUT ACCENT	Ï	Ï	Ï
lowercase i umlaut accent	ï	ï	ï
CAPITAL ICELANDIC ETH	Ð	Ð	Ð
lowercase Icelandic eth	ð	ð	ð
CAPITAL N TILDE ACCENT	Ñ	Ñ	Ñ
lowercase n tilde accent	ñ	ñ	ñ
CAPITAL O GRAVE ACCENT	Ò	Ò	Ò
lowercase o grave accent	ò	ò	ò
CAPITAL O ACUTE ACCENT	Ó	Ó	Ó
lowercase o acute accent	ó	ó	ó
CAPITAL O CIRCUMFLEX ACCENT	Ô	Ô	Ô
lowercase o circumflex accent	ô	ô	ô
CAPITAL O TILDE ACCENT	Õ	Õ	Õ
lowercase o tilde accent	õ	õ	õ
CAPITAL O UMLAUT ACCENT	Ö	Ö	Ö
lowercase o umlaut accent	ö	ö	ö
CAPITAL O SLASH ACCENT	Ø	Ø	Ø
lowercase o slash	ø	ø	ø
CAPITAL U GRAVE ACCENT	Ù	Ù	Ù
lowercase u grave accent	ù	ù	ù
CAPITAL U ACUTE ACCENT	Ú	Ú	Ú
lowercase u acute accent	ú	ú	ú
CAPITAL U CIRCUMFLEX ACCENT	Û	Û	Û
lowercase u circumflex accent	û	û	û
CAPITAL U UMLAUT	Ü	Ü	Ü
lowercase u umlaut accent	ü	ü	ü
CAPITAL Y ACUTE ACCENT	Ý	Ý	Ý
lowercase y acute accent	ý	ý	ý
lowercase y umlaut accent	ÿ	ÿ	ÿ
CAPITAL ICELANDIC THORN	Þ	Þ	Þ
lowercase Icelandic thorn	þ	þ	þ
lowercase German sharp s	ß	ß	ß
Alphanumeric characters
description	number	name	symbol
Number 0	0	 	0
Number 1	1	 	1
Number 2	2	 	2
Number 3	3	 	3
Number 4	4	 	4
Number 5	5	 	5
Number 6	6	 	6
Number 7	7	 	7
Number 8	8	 	8
Number 9	9	 	9
UPPERCASE A	A	 	A
lowercase a	a	 	a
UPPERCASE B	B	 	B
lowercase b	b	 	b
UPPERCASE C	C	 	C
lowercase c	c	 	c
UPPERCASE D	D	 	D
lowercase d	d	 	d
UPPERCASE E	E	 	E
lowercase e	e	 	e
UPPERCASE F	F	 	F
lowercase f	f	 	f
UPPERCASE G	G	 	G
lowercase g	g	 	g
UPPERCASE H	H	 	H
lowercase h	h	 	h
UPPERCASE I	I	 	I
lowercase i	i	 	i
UPPERCASE J	J	 	J
lowercase j	j	 	j
UPPERCASE K	K	 	K
lowercase k	k	 	
UPPERCASE L	L	 	L
lowercase l	l	 	l
UPPERCASE M	M	 	M
lowercase m	m	 	m
UPPERCASE N	N	 	N
lowercase n	n	 	n
UPPERCASE O	O	 	O
lowercase o	o	 	o
UPPERCASE P	P	 	P
lowercase p	p	 	p
UPPERCASE Q	Q	 	Q
lowercase q	q	 	q
UPPERCASE R	R	 	R
lowercase r	r	 	r
UPPERCASE S	S	 	S
lowercase s	s	 	s
UPPERCASE T	T	 	T
lowercase t	t	 	t
UPPERCASE U	U	 	U
lowercase u	u	 	u
UPPERCASE V	V	 	V
lowercase v	v	 	v
UPPERCASE W	W	 	W
lowercase w	w	 	w
UPPERCASE X	X	 	X
lowercase x	x	 	x
UPPERCASE Y	Y	 	Y
lowercase y	y	 	y
UPPERCASE Z	Z	 	Z
lowercase z	z	 	z
Miscellaneous
description	number	name	symbol
Bullet	•	•	•
Horizontal ellipsis	…	…	…
lowercase Latin f with hook	ƒ	ƒ	ƒ
Perpendicular	⊥	⊥	⊥
Dot operator	⋅	⋅	⋅
UPPERCASE LATIN OE LIGATURE	Œ	Œ	Œ
lowercase Latin oe ligature	œ	œ	œ
UPPERCASE S WITH CARON	Š	Š	Š
lowercase s with caron	š	š	š
CAPITAL Y WITH DIAERES	Ÿ	Ÿ	Ÿ
Circumflex accent	ˆ	ˆ	ˆ
Tilde (different from the tilde my keyboard generates)	˜	˜	˜
En dash	–	–	–
Em dash	—	—	—
Left single quotation mark	‘	‘	‘
Right single quotation mark	’	’	’
Single low-9 quotation mark	‚	‚	‚
Left double quotation mark	“	“	“
Right double quotation mark	”	”	”
Double low-9 quotation mark	„	„	„
Dagger	†	†	†
Double dagger	‡	‡	‡
Per mille	‰	‰	‰
Minutes (Degrees)	′	′	′
Seconds (Degrees)	″	″	″
Single left angle quotation	‹	‹	‹
Single right angle quotation	‹	›	‹
Overline	‾	‾	‾
Left ceiling	⌈	⌈	⌈
Right ceiling	⌉	⌉	⌉
Left floor	⌊	⌊	⌊
Right floor	⌋	⌋	⌋
Lozenge	◊	◊	◊
En space	 	 	 
Em space	 	 	 
Thin space	 	 	 
Zero width non-joiner	‌	‌	‌
Zero width joiner	‍	‍	‍
Left-to-right mark	‎	‎	‎
Right-to-left mark	‏	‏	{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>HTMLEntityInsertsNullByte</key>
	<string>Test&amp;#0;null{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>InlineCode</key>
	<string>memcpy{
    NSBackgroundColor = "UIExtendedSRGBColorSpace 0.94902 0.94902 0.94902 1";
    NSColor = "UIExtendedSRGBColorSpace 1 0 1 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded121e0&gt; font-family: \"Courier New\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
} and {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}memmove{
    NSBackgroundColor = "UIExtendedSRGBColorSpace 0.94902 0.94902 0.94902 1";
    NSColor = "UIExtendedSRGBColorSpace 1 0 1 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded121e0&gt; font-family: \"Courier New\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
} should be portable everywhere. Copying to and from data indexed by a {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}char *{
    NSBackgroundColor = "UIExtendedSRGBColorSpace 0.94902 0.94902 0.94902 1";
    NSColor = "UIExtendedSRGBColorSpace 1 0 1 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded121e0&gt; font-family: \"Courier New\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
} is too I think. Otherwise, use a union, because gcc explicitly allows it. No idea about clang.{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>Link</key>
	<string>LINK: {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}top posts{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
    NSLink = "https://np.reddit.com/r/wtfstockphotos/top/?sort=topamp&amp;;t=year";
} NOT LINK{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>NoTags</key>
	<string>This text has no formatting applied to it{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>OpenedButNotClosedTag</key>
	<string>Open but not closed em tag {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13190&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 17.00pt";
}</string>
	<key>PlainBoldItalicsCombo</key>
	<string>Plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13190&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 17.00pt";
} again plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}italics{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13660&gt; font-family: \"Avenir-BookOblique\"; font-weight: normal; font-style: italic; font-size: 17.00pt";
} plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold italic{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded127b0&gt; font-family: \"Avenir-HeavyOblique\"; font-weight: bold; font-style: italic; font-size: 17.00pt";
}</string>
	<key>SoloHTMLEntityHeapOverflow</key>
	<string>0{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>TerminatingTagWithNoOpening</key>
	<string>Test{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>TerminatingTagWithNoOpeningButLabel</key>
	<string>TestFFFFFFFFFFFFFFFFFFFFFFF{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>ThreeByteEmojiFormatter</key>
	<string>Plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold, emoji: ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅ still should be bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13190&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 17.00pt";
}NOTBOLD{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>TwoByteEmojiFormatter</key>
	<string>Plain {
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}bold, emoji: ®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®®® still should be bold{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded13190&gt; font-family: \"Avenir-Heavy\"; font-weight: bold; font-style: normal; font-size: 17.00pt";
}NOTBOLD{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>UnicodeHeapOverFlowBadNSStringLength1</key>
	<string>ด้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็ ด้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็ ด้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
	<key>UnterminatedOpeningAndWithoutLabel</key>
	<string>Test{
    NSBackgroundColor = "UIExtendedGrayColorSpace 0 0";
    NSColor = "UIExtendedGrayColorSpace 0 1";
    NSFont = "&lt;UICTFont: 0x7fc4ded12b70&gt; font-family: \"Avenir-Light\"; font-weight: normal; font-style: normal; font-size: 17.00pt";
}</string>
</dict>
</plist>
